graft src
graft docs
graft tests

prune docs/build
prune nginx

include .bumpversion.cfg
include .coveragerc
include Dockerfile
include docker-compose.yml
include .dockerignore
include tox.ini
include requirements.txt

include *.rst

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store
