graft src
graft docs
graft tests

prune docs/build
prune nginx

include .dockerignore
include .flake8
include Dockerfile
include Pipfile
include Pipfile.lock
include doc8.ini
include docker-compose.yml
include mypy.ini
include requirements.txt
include tox.ini

include *.rst

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store
