[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argon2-cffi = "*"
asn1crypto = "*"
censys = "*"
click = "*"
cryptography = "*"
# flasgger = "*"  # flasgger is temporarily disabled due to a security vulnerability
flask = "*"
flask-admin = "*"
flask-bootstrap = "*"
flask-sqlalchemy = "*"
jsonlines = "*"
ocspbuilder = "*"
oscrypto = "*"
passlib = "*"
python-jose = "*"
requests = "*"
sqlalchemy = "*"
tqdm = "*"
ocspdash = {editable = true,path = "."}

[dev-packages]
tox = "*"

[requires]
python_version = "3.7"
