[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argon2-cffi = "*"
asn1crypto = "*"
censys = "*"
click = "*"
cryptography = "*"
flasgger = "*"
flask = "*"
flask-admin = "*"
flask-bootstrap = "*"
flask-sqlalchemy = "*"
jsonlines = "*"
ocspbuilder = "*"
oscrypto = "*"
passlib = "*"
python-jose = "*"
requests = "*"
sqlalchemy = "*"
tqdm = "*"

[dev-packages]
check-manifest = "*"
coverage = "*"
doc8 = "*"
flake8 = "*"
flake8-colors = "*"
flake8-docstrings = "*"
flake8-import-order = "*"
mypy = "*"
pep8-naming = "*"
pygments = "*"
pytest = "*"
restructuredtext-lint = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
tox = "*"

[requires]
python_version = "3.6"

[packages.e1839a8]
path = "."
editable = true
