[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"argon2-cffi" = "*"
"asn1crypto" = "*"
censys = "*"
click = "*"
cryptography = "*"
docopt = "*"
flasgger = "*"
flask = "*"
flask-admin = "*"
flask-bootstrap = "*"
flask-sqlalchemy = "*"
ocspbuilder = "*"
oscrypto = "*"
python-jose = "*"
requests = "*"
sqlalchemy = "*"
tqdm = "*"
"e1839a8" = {path = ".", editable = true}
passlib = "*"
jsonlines = "*"

[dev-packages]
tox = "*"
mypy = "*"

[requires]
python_version = "3.6"
