<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OCSPdash</title>
</head>
<body>
<h1>OCSPdash</h1>
<table>
    <thead>
    <tr>
        <th>Authority</th>
        <th>CA, USA</th>
        <th>NY, USA</th>
        <th>NRW, DE</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Let's Encrypt</td>
    </tr>
    <tr>
        <td>http://ocsp.int-x3.letsencrypt.org/</td>
        <td>Good</td>
        <td>Good</td>
        <td>Good</td>
    </tr>
    <tr>
        <td>http://ocsp.int-x3.letsencrypt.org</td>
        <td>Good</td>
        <td>Good</td>
        <td>Good</td>
    </tr>
    <tr>
        <td>http://ocsp.int-x1.letsencrypt.org/</td>
        <td>Good</td>
        <td>Good</td>
        <td>Good</td>
    </tr>
    <tr>
        <td>cPanel, Inc.</td>
    </tr>
    <tr>
        <td>http://ocsp.comodoca.com</td>
        <td>Good</td>
        <td>Good</td>
        <td>Good</td>
    </tr>
    <tr>
        <td>COMODO CA Limited</td>
    </tr>
    <tr>
        <td>http://ocsp.comodoca4.com</td>
        <td>Good</td>
        <td>Good</td>
        <td>Good</td>
    </tr>
    <tr>
        <td>http://ocsp.comodoca.com</td>
        <td>Good</td>
        <td>Good</td>
        <td>Good</td>
    </tr>
    <tr>
        <td>http://ocsp.comodoca2.com</td>
        <td>Good</td>
        <td>Good</td>
        <td>Good</td>
    </tr>
    <tr>
        <td>http://ocsp.comodoca3.com</td>
        <td>Down</td>
        <td>Down</td>
        <td>Down</td>
    </tr>
    </tbody>
</table>
</body>
</html>