{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}OCSPdash{% endblock %}

{% block styles %}
    {{ super() }}
    <style>

        tr > td:first-child {
            border: 0px;
        }

        tr td:only-child {
            font-weight: bold;
        }

        tr td:not(:first-child) {
            text-align: center;
            margin-left: 10px;
            margin-right: 10px;
        }

        .header {
            background-color: #79f0c0;
            color: #FFFFFF;
            padding: 10px 0 10px 0;
            font-size: 2.2em;
        }

        .content {
            padding-top: 20px;
        }

        .good {
            color: green;
        }

        .questionable {
            color: yellow;
        }

        .bad {
            color: red;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="header">
        <div class="container">
            <h1>OCSP Dashboard</h1>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="panel panel-default">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Authority</th>
                        {% for location in payload['locations'] %}
                            <th>{{ location }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry in payload['data'] %}
                        <tr>
                            <td>{{ entry['authority'] }}</td>
                        </tr>
                        {% for endpoint in entry['endpoints'] %}
                            <tr>
                                <td>{{ endpoint['url'] }}</td>
                                {% for status in endpoint['statuses'] %}
                                    <td>
                                        {% if status == 'good' %}
                                            <span class="glyphicon glyphicon-ok-sign good"></span>
                                        {% elif status == 'questionable' %}
                                            <span class="glyphicon glyphicon-warning-sign questionable"></span>
                                        {% elif status=='bad' %}
                                            <span class="glyphicon glyphicon-remove-sign bad"></span>
                                        {% else %}
                                            <span class="glyphicon glyphicon-question-sign"></span>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
