{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}OCSPdash{% endblock %}

{% block scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/popper.min.js"></script>
    {{ super() }}
    <script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
    </script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        tr td:only-child {
            font-weight: bold;
        }

        .header {
            background-color: #79f0c0;
            color: #FFFFFF;
            padding: 10px 0 10px 0;
            font-size: 2.2em;
            margin-bottom: 20px;
        }

        .not-current > td {
            text-decoration: line-through;
            color: grey;
        }

        .not-current td {
            background-color: #DDD;
        }
        .popover table {
            font-size: 70%;
            border: 1px solid #EEE;
        }
        .popover table tr:nth-child(even) {
            background-color: #EEE;
        }
        .popover table td {
            padding: 2px;
        }
        .popover table tr td:nth-child(1) {
            font-weight: bold;
            text-align: right;
            border-right: 1px solid #EEE;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sprite.css') }}">
{% endblock %}

{% block content %}
    <div class="header">
        <div class="container">
            <h1>
                OCSP Dashboard
                {% if config['DEBUG'] %}<small><a href="{{ url_for('admin.index') }}">Admin</a></small>{% endif %}
            </h1>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    {% for location in payload['locations'] %}
                        <th class="text-center">{# <span data-toggle="popover" data-trigger="hover" data-placement="top" data-content="{{ location.key_id }}"> #}
                            {{ location.name }}
                        {# </span> #}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for authority in payload['authorities'] %}
                    <tr>
                        <td colspan="{{ 1 + payload['locations'] | length }}">
                            {# <span data-toggle="popover" data-trigger="hover" data-placement="top" data-content="{{ '{:,}'.format(authority['authority'].cardinality) }}"> #}
                                {{ authority['authority'].name }}
                            {# </span> #}
                        </td>
                    </tr>
                    {% for responder in authority['responders'] %}
                        <tr {# {% if not row[1] %}class="not-current"{% endif %} #}>
                            <td>{# <span data-toggle="popover" data-trigger="hover" data-placement="top" data-content="{{ '{:,}'.format(responder['responder'].cardinality) }}"> #}
                                {{ responder['responder'].url }}
                            {# </span> #}</td>
                            {% for result in responder['results'] %}
                                <td class="text-center">
                                    {% if result is not none %}
                                        <span class="svg {% if result.status.value == 'good' %}svg-check-circle{% elif result.status.value == 'questionable' %}svg-x-circle{% elif result.status.value == 'bad' %}svg-question-circle{% endif %}" data-toggle="popover" data-trigger="click" data-placement="top" data-html="true" data-content="<table><tbody><tr><td>Ping</td><td>{{ result.ping }}</td></tr><tr><td>OCSP</td><td>{{ result.ocsp }}</td></tr><tr><td>Retrieved</td><td>{{ result.retrieved }}</td></tr><tr><td>Chain ID</td><td>{{  result.chain.certificate_chain_uuid | string }}</td></tr></tbody></table>"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-question-sign text-muted"></span>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
